@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */

body{
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  font-family: 'Poppins', sans-serif;

  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 85px;
  padding: 80px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 200px;
}

.form h1, .form p {
  color: #fafafa;
}

.form p {
  font-weight: bold;
}

.form input[type=text] {
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.775);
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
}

.form input[type=text]:focus {
  outline: none;
}

.button{
  padding: 10px 15px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.775);
  cursor: pointer;
  background-color: hsl(169, 85%, 40%);
  color: #fafafa;
}

.button:hover{
  background-color: hsl(169, 85%, 45%)
}

.message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 200px;
  min-width: 400px;


  background: #fafafa;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.message h2, 
.message p,
.message small{
  text-align: center;
}

.message p{
  font-size: 20px;
}

.hidden {
  display: none;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .form h1 {
    font-size: 25px;
  }

  .container .message {
    min-width: 250px;
    padding: 25px;
  }
}
